/*importaciones de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Spice&family=Genos:wght@100&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Spice&family=Genos:wght@100&display=swap');
/*                       */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blanco: #fff;
    --morado-con-transparencia-01:rgba(75, 0, 130, 0.1);
    --morado-con-transparencia-03:rgba(75, 0, 130, 0.3);
    --morado-con-transparencia-05:rgba(75, 0, 130, 0.5);
    --morado-con-transparencia-06:rgba(75, 0, 130, 0.6);
    --negro-con-transparencia-05:rgba(0, 0, 0, 0.5);
    --negro-sin-transparencia:rgba(0, 0, 0);
    --color-oro-trasparencia-07: rgb(255, 215, 0, 0.7);
    --azul-trasnparencia-08:rgba(148, 178, 230, 0.8);
    --verde-con-trasparencia-05:rgb(127, 255, 212, 0.5);
    --verde-con-trasparencia-06:rgb(127, 255, 212, 0.6);
    --rojo-con-trasnparencia-05:rgba(245, 56, 46, 0.5);
    --rojo-con-trasnparencia-06:rgba(245, 56, 46, 0.6);
}
/*body*/
body {
    background-image: url(./Petserkers/arena.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow:hidden;
}
/*contenedor titulo*/
.contenedor-titulo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 10%;
    width: 100%;
    color: var(--blanco);
    padding-top: 10px;
    background-color: var(--morado-con-trasparencia-03);
}
/*main*/
main {
    height: 85%;
}
/*titulo*/
.titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    cursor: pointer;
    transition: 2s linear left;
    color: transparent;
    -webkit-text-stroke: 0.3px rgba(195, 0, 255, 0.817);
    background-image: linear-gradient(358deg,
            purple, rgb(3, 100, 138), black, rgb(35, 31, 31));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move 10s linear infinite;
}
@keyframes move{
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
/*contenedor subtitulo cartas y boton*/
#seleccion-Petserker {
    margin: 10px 10px 0px 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    border: 0;
}
/*contenedor de subtitulo cards y boton*/
.container-sub-cards-btn {
    background-color: var(--negro-con-transparencia-05);
    width: 94%;
    height: 98%;
    border: var(--morado-con-transparencia-05) solid 10px;
    border-radius: 6px;
    transition: .1s;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/*subtitulos */
.subtiulo {
    font-size: 3.5vh;
    margin-top: 5px;
    font-family: 'Black Ops One';
    letter-spacing: 1px;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 0.5px rgba(11, 11, 11, 0.8);
    background-image: linear-gradient(359deg,
            rgb(206, 125, 228), rgb(229, 227, 234), rgb(205, 136, 214), rgb(237, 237, 239));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move 40s linear;
    margin-bottom: 5px;
}
/* conteneder cartas*/
.container-cards {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
/*labels cartas de petserkers*/
.card {
    height: 93%;
    background-color: var(--morado-con-transparencia-06);
    padding: 10px;
    margin: 2px;
    border-radius: 20px;
    margin: 10px;
}
/*imagenes delos petserkers*/
.container-cards img {
    width: 68vw;
    height: 85%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}
/*Nombre de los petserkers*/
.container-cards p {
    margin-bottom: 8px;
    margin-top: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    color:var(--color-oro-trasparencia-07);
}
/*inputs de cartas*/
input {
    display: none;
}
/*estilos de botno de señleccionar petserker*/
.btn-petserker {
    border: 0;
    border-radius: 8px;
    color: var(--azul-trasnparencia-08);
    display: flex;
    font-size: 3vh;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin-top: 5px;
    background: linear-gradient(to left, #9500ff, rgb(81, 3, 68), #3300ff);
    background-size: 800%;
    animation: move 25s linear infinite;
}
.btn-petserker span {
    background-color: var(--negro-sin-transparencia);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Black Ops One';
}
.btn-petserker:active span {
    background: none;
}
/* contenedor de interfaz de ataques*/
#sleccion-ataque {
    align-items: center;
    flex-direction: column;
    height: 100%;
}
/*contenedor de barra de vida de jugador y enemigo*/
.contenedor-vidas-jugador-enemigo {
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--morado-con-trasparencia-03);
}
/*barra vida jugador */
.contenedor-barra {
    height: 100%;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*logo de vs espadas*/
.logo-versus {
    width: 20%;
    background-image: url(./Petserkers/espada.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
/*icono corazon*/
.icono-corazon {
    height: 30px;
    width: 30px;
    background-image: url(./Petserkers/corazon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*barra de vida*/
.barra {
    width: 60%;
    height: 10px;
    background-color: var(--verde-con-trasparencia-06);
    margin-bottom: 4px;
    display: flex;
    flex-direction: row-reverse;
}
/*vida de enemigo*/
#vidaPetserkerEnemigo {
    width: 100%;
    height: 100%;
    background-color:var(--rojo-con-trasnparencia-06) ;
    transition: .3s;
}
/*vida jugador*/
#barra {
    flex-direction: row;
}
#vidaPetserkerJugador {
    width: 100%;
    height: 100%;
    background-color: var(--verde-con-trasparencia-05);
}
/*contenedor imagenes de petserkers elegidos*/
.contenedor-petserker-jugador-enemigo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    background-color: var(--negro-con-transparencia-05);
}
/*contenedores de luchadores*/
#PetserkerJugador,#PetserkerEnemiga {
    background-color: var(--negro-sin-transparencia);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 90%;
    border-bottom: 10px;
}
.box {
    height: 95%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.nombrePetserkersCombatientes {
    padding-top: 5px;
    background-color: var(--negro-sin-transparencia);
    color: var(--azul-trasnparencia-08);
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 20px;
}
/*vs*/
.versus {
    height: 40px;
    width: 40px;
    background-image: url(./Petserkers/vs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 5px 0 5px;
}
/*imagen inicial*/
#inicioJuego {
    background-repeat: no-repeat;
    background-position: center -130px;
    background-size: cover;
    height: 95%;
    width: 98%;
    border-radius: 10px;
}
/*Mensajes*/
.mensajesAtaques {
    margin-top: 1%;
    height: 35%;
    width: 94%;
    color: var(--blanco);
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerPowers {
    height: 100%;
    width: 100%;
    background-color: var(--negro-con-transparencia-05);
    overflow-y: auto;
    border-radius: 15px;
    display: none;
    justify-content: space-around;
    align-items: center;
}
/*contenedores imagenes de ataques*/
.boxPower, .boxPowertwo {
    height: 90%;
    width: 47%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#resultado {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95%;
    width: 98%;
    border-radius: 10px;
}
/*mensaje subtitulo*/
#contenedor-subtitulo{ margin-top: 2px;}
#contenedor-subtitulo, .contenedor-subtitulo {
    background-color: var(--morado-con-transparencia-06);
    width: 100%;
    height: 8%;
    text-align: center;
    padding: 5px;
}
/*botones de ataques*/
.btn-ataques {
    background-color: var(--morado-con-transparencia-01);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 44px;
    position: relative;
    margin: 0 5px 0 5px;
    width: 60px;
}
/*pseudoelemento botones de atque*/
.contenedor-de-ataques{margin-top:10px;}
.contenedor-de-ataques button::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #ff3f34, #ff6a00, #ff9f00, #ff6a00, #ff3f34);
    background-size: 800%;
    filter: blur(8px);
    animation: move 18s linear infinite;
    border-radius: 50%;
}
.contenedor-de-ataques button:nth-of-type(2)::before {
    background: linear-gradient(45deg, rgb(0, 162, 255), blue, rgb(20, 36, 255), rgb(0, 162, 255), blue, rgb(20, 36, 255));
    background-size: 800%;
}
.contenedor-de-ataques button:nth-of-type(3)::before {
    background: linear-gradient(45deg, rgb(0, 128, 68), rgb(0, 158, 96), rgb(4, 180, 95),
            rgb(0, 128, 68), rgb(0, 158, 96), rgb(4, 180, 95));
    background-size: 800%;
}
.contenedor-de-ataques button:nth-of-type(4)::before {
    background: linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(240, 250, 255, 1), rgba(230, 245, 255, 1),
            rgba(240, 250, 255, 1), rgba(255, 255, 255, 1), rgba(240, 250, 255, 1), rgba(230, 245, 255, 1));
    background-size: 800%;
}
/*boton de reinicio*/
#reiniciar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 80vh;
    right: 0;
    bottom: 0;
}
footer {
    background: var(--morado-con-transparencia-03);
    color: white;
    height:5% ;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
}