/*importaciones de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Spice&family=Genos:wght@100&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Spice&family=Genos:wght@100&display=swap');

/*                       */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body {
    background-color: rgb(20, 20, 20);
}

/*contenedor titulo*/
.contenedor-titulo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 80px;
    width: 100%;
    color: #fff;
}

/*titulo*/
.titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    cursor: pointer;
    transition: .3s linear;
    color: transparent;
    -webkit-text-stroke: 0.3px rgba(195, 0, 255, 0.817);
    background-image: linear-gradient(to left,
    purple,rgb(138, 3, 138), black, rgb(35, 31, 31));
    background-size: 200%;
    -webkit-background-clip: text;
    animation: move 40s linear infinite;
}

@keyframes move{
    100%{
        background-position: 2000px 0;
    }
}

/*contenedor subtitulo cartas y boton*/
#seleccion-Petserker {
    margin: 10px 10px 0px 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    border: 0;
    background-image: linear-gradient(150deg,
            #9500ff,
            rgb(81, 3, 68),
            #3300ff);
    border-radius: 8px;
}
/*contenedor de subtitulo cards y boton*/
.container-sub-cards-btn{
    background-color: #111;
    width: 98%;
    height: 99%;
    border-radius: 6px;
    transition: .3s;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*subtitulo*/
.subtiulo {
    margin-top: 5px;
    font-family: 'Black Ops One';
    color: rgba(192, 22, 214, 0.673);
    margin-bottom: 5px;
}

/* conteneder cartas*/
.container-cards {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

/*labels cartas de petserkers*/
.card {
    width: 290px;
    height: 340px;
    background-color: #390760ad;
    padding: 10px;
    margin: 2px;
    border-radius: 20px;
    margin: 10px;
}

/*imagenes delos petserkers*/
.container-cards img {
    width: 250px;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}
/*Nombre de los petserkers*/
.container-cards p{
    margin-bottom: 8px;
    margin-top: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    cursor: pointer;
    transition: .2s linear;
    color: transparent;
    -webkit-text-stroke: 0.3px rgba(241, 241, 248, 0.817);
    background-image: linear-gradient(to left,
    rgb(250, 233, 0),rgba(233, 224, 54, 0.819), rgb(166, 160, 105), rgb(247, 247, 247));
    background-size: 200%;
    -webkit-background-clip: text;
    animation: move 50s linear infinite;
}
/*inputs de cartas*/
input {
    display: none;
}

/*estilos de botno de señleccionar petserker*/
button {
    border: 0;
    background-image: linear-gradient(150deg,
            #9500ff,
            rgb(81, 3, 68),
            #3300ff);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin-top: 5px;
}

button span {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span {
    background: none;
}

