@media (min-width: 600px) {
    body {
        height: auto;
    }

    .contenedor-titulo-principal {
        height: auto;
        margin-bottom: 20px;
        padding-top: 0px;
    }

    .titulo {
        font-size: 50px;
    }

    main {
        height: 900px;
        margin-bottom: 1%;
    }

    #seleccion-Petserker {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .container-sub-cards-btn {
        height: 70vh;
        width: 100%;
        border: 0;
        justify-content: center;
    }

    .subtiulo {
        font-size: 25px;
    }

    .container-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
        scroll-snap-type: y mandatory;
        width: 95%;
        margin: 0 0 11px 0;
    }

    .card {
        height: 280px;
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;
        background-color: var(--morado-con-transparencia-01);
    }

    .card p {
        color: var(--blanco);
    }

    .card:hover p {
        color: var(--color-oro-trasparencia-07);
    }

    .card:hover {
        background-color: var(--morado-con-transparencia-06);
    }

    .card img {
        height: 25vh;
        width: 25vh;
    }

    .contenedor-vidas-jugador-enemigo{
        height: auto;
    }

    .contenedor-petserker-jugador-enemigo {
        height: auto;
        width: auto;
    }

    #PetserkerJugador,
    #PetserkerEnemiga {
        height: 150px;
        width: 100%;
    }

    .box{
        height: 100%;
        width: 172px;
    }

    .mensajesAtaques { 
        height: 200px;
        width: 90%;
    }

    footer {
        height: 10%;
        padding-right: 20px;
    }

    #seleccion-ataque{
        height: auto;
    }
    #iniciarJuego{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contenedor-de-ataques{
        justify-content: space-evenly ;
    }
    .contenedor-de-ataques button::before {
        width: 60px;
        height: 60px;
    }
    .contenedor-de-ataques button img {
        width: 60px;
    }
}